@using RecordStore.Models
@{
    ViewBag.Title = "Account";
}

<h2>Welcome to you account, @ViewBag.User.Name !</h2>

@if (ViewBag.Purchases == null)
{
    <div>
        <p>You haven't done any purchase.</p>
    </div>
}
else
{
    <h3>
        <p>Your purchases:</p>
    </h3>

    int i = 0;
    int id = 0;
    foreach (PurchaseRecord p in ViewBag.Purchases)
    {
        <table>
            <tr>
                <td>
                    @if (p.Purchase.Id != id)
                    {
                        i++;
                        id = p.Purchase.Id;
                        <h4>Purchase № @i</h4>
                        <table>
                            <tr hidth="70">
                                <td width="220"><p>@p.Purchase.Name</p></td>
                            </tr>
                            <tr hidth="70">
                                <td width="220"><p>@p.Purchase.Address</p></td>
                            </tr>
                            <tr hidth="70">
                                <td width="220"><p>@p.Purchase.PhoneNumber</p></td>
                            </tr>
                            <tr>
                                <td width="220">Sum: @p.Purchase.Sum $</td>
                            </tr>
                            <tr>
                                <td width="220">Date: @p.Purchase.Date.Day/@p.Purchase.Date.Month/@p.Purchase.Date.Year</td>
                            </tr>
                        </table>
                    }
                </td>
                <td>
                    <table>
                        <tr hidth="70">
                            <td width="140"><p>@p.Record.Album.Artist.Name - @p.Record.Album.Name</p></td>
                            <td width="140"><p>@p.Record.Format</p></td>
                            <td width="140"><p>@p.Record.Price $</p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
}




