@using RecordStore.Models
@{
    ViewBag.Title = "Account";
}

<h2>Welcome to you account, @ViewBag.User.Name !</h2>

@if (ViewBag.Purchases == null)
{
    <h3>
        <p>You haven't done any purchase.</p>
    </h3>
}
else
{
    <h3>
        <p>Your purchases:</p>
    </h3>

    int i = 0;
    foreach (Purchase p in ViewBag.Purchases)
    {
        i++;
        <h4><p>Purchase № @i</p></h4>
        <table>
            <tr>
                <td>
                    <table>
                        <tr hidth="70">
                            <td width="220"><p>@p.Name</p></td>
                        </tr>
                        <tr hidth="70">
                            <td width="220"><p>@p.Address</p></td>
                        </tr>
                        <tr hidth="70">
                            <td width="220"><p>@p.PhoneNumber</p></td>
                        </tr>
                        <tr>
                            <td width="220">Date: @p.Date.Day/@p.Date.Month/@p.Date.Year</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        @foreach (Record r in p.Records)
                        {
                            <tr hidth="70">
                                <td width="500"><p>@r.ArtistAlbum</p></td>
                                <td width="100"><p>@r.Format</p></td>
                                <td width="100" margin="right"><p>@r.Price $</p></td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td width="100" margin="right">Sum: @p.Sum $</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
}




