@model RecordStore.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Log In Account</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>
            <label>Email</label><br />
<<<<<<< HEAD
            @Html.EditorFor(x => x.UserName)
=======
            @Html.EditorFor(x => x.Email)
>>>>>>> 406e379bced60430c121c4509d9b369056c208c9
        </p>
        <p>
            <label>Pssword</label><br />
            @Html.EditorFor(x => x.Password)
        </p>
        <p><button type="submit">Log In</button></p>
    </div>
}