@model RecordStore.Models.RegisterModel

@{ ViewBag.Title = "Register"; }

<h2>Create Account</h2>


@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div>

                    @Html.ValidationSummary(false)

                    <div>
                        Email
                        <div>
                            @Html.EditorFor(model => model.UserName)
                        </div>
                    </div>

                    <div>
                        Name
                        <div>
                            @Html.EditorFor(model => model.Name)
                        </div>
                    </div>

                    <div>
                        Password
                        <div>
                            @Html.EditorFor(model => model.Password)
                        </div>
                    </div>

                    <div>
                        Re-type Password
                        <div>
                            @Html.EditorFor(model => model.PasswordConfirm)
                        </div>
                    </div>

                    <div>
                        <div>
                            <input type="submit" value="Create Account" />
                        </div>
                    </div>
                </div>}